<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bt.devcon.android.intents"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".IntentsActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <!-- Marks this activity as the one to launch when the icon is pressed -->
                <action android:name="android.intent.action.MAIN" />
                <!-- Shows the application in the launcher menu -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- This activity has no filter so it can only be run from explicit code calls -->
        <activity android:name=".NextActivity"
                  android:label="@string/next_screen_label">
        </activity>
        
        <activity android:name=".WebSearchActivity"
                  android:label="@string/search_label">
            <intent-filter>
                <!-- When a web search is run, this activity can take control if the user wants -->
                <action android:name="android.intent.action.WEB_SEARCH" />
                <!-- Specifies this activity is a candidate for the default application in web searching -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>       

    </application>
</manifest>